/************* your name: Zhengqingyuan Zhang

INSTRUCTIONS:
Comments starting with TO-DO have been included in this file to describe the needed styling: please translate these to the appropriate CSS declarations. 

Comments starting with TO-DO may be left in for reference or removed entirely: all other comments should be left as-is for ease of review.

You are discouraged from changing any provided CSS.

***** colour palette: *****
- mustard yellow (used for header, footer, and buttons): #E5AF42
- cornflower blue (used for hover states): #4278e5

*/


/************* site defaults *************/
body {
    width: 950px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

/* TO DO: all elements with the .flex class applied are to be made into flex-box containers. */

/* Seeting all .flex class into flex-box containers */
.flex {
    display:flex; 
} 

/************* site-wide text styling *************/

/* TO DO:
    - first-level headings are size 48px, centered vertically and horizontally in the available space.
    - 2nd-level headings have a font size of 36px, and 12px of space below.
    - any element with the .large-text class has a font size of 24px.
    - any element with the .fake-button class will have a background colour of mustard yellow (see colour palette above), be center aligned, with a line-height of 3 and a solid black border that is 1px wide.
    - all anchors will have the underline removed and be black in colour. all anchors in the main and footer sections will be underlined in their hover-state.
    - the hover-state of .fake-button and .blue-hover elements will:
        - add an underline, 
        - set the background-colour to cornflower blue (see colour palette above),
        - change the text colour to white, and 
        - change the cursor to pointer.
*/

/* set font size-48px of h1 & center h1 in vertically and horizontally */
h1{
    font-size: 48px;
    line-height: 3;
    margin:auto;
} 

/* set font size-36px and margin-bottom-12px of h2 */
h2{
    margin-bottom: 12px;
    font-size: 36px;
}

/* set font size-24px of .large-text class*/
.large-text {
    font-size: 24px;
}

/* set background-color (mustard yellow）for .fake-button class; center it to vertically; set solid border for it */
.fake-button {
    background-color: #E5AF42;
    line-height: 3;
    border:solid 1px; 
}

/*clear the default underline of all links in the pages and change the font-color of all links to black*/
a {
    text-decoration: none;
    color:black;
}

/* set the hover-state of .fack-button and .blue-hover as following:
    - with underline 
    - set background-color to cornflower blue
    - set solid border with 1px and black color 
    - chagne the text colour to white
    - change the cursor to pointer*/
.fake-button:hover, .blue-hover:hover{
    color:white;
    background-color: blue;
    cursor: pointer; 
    border:1px black solid;
    text-decoration: underline;
}

/************* header/footer styling *************/

/* TO DO:
    - the header and footer will be the same mustard-yellow as the buttons.
    - the header is 150px tall.
    - the header image is 100px wide and tall with 25px of space above, below, and on its left, and the top-level heading is centered in the remaining width.
    - there will be 25px of space between the header and main, and 50px of space between main and footer.
    - the footer will be 60px tall, have a font-weight of 200, and the text within will be centered vertically and horizontally.
*/

/* set background-color (mustard yellow）for header & footer */
header, footer {
    background-color: #E5AF42;
}

/* set height-150px of header & margin space between header and main as 25px*/
header {
    height: 150px;
    margin-bottom: 25px;
}

/* set witdh-100px & height-100px & margin space around the image in header*/
header img {
    width: 100px;
    height: 100px;
    margin: 25px 0px 25px 25px;
}

/* set height-60px and font-weight-200 of footer & margin space between footer and main as 25px & center all contents in footer in vertical and horizontal*/
footer {
    padding: 20px;
    height: 60px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


/************* index page *************/

/* TO-DO: 
    - this is a 2-column layout: text on the left, and an image on the right. The image will be 300px wide, with 25px between it and the text column, which takes up the remaining space. The image will also have 50px of space below.
    - the h2 on this page will have a line-height equal to the font size.
    - each paragraph on this page will have 12px of space beneath it.
    - each fake-button on this page will be 250px wide with 150px of space between them.
    - the pair of fake-buttons will be centered on the page. HINT: can calculate the required margin to make them appear to be centered.
*/

/* set the 2-colum layout & align text to left, image on right */
.about-us{
    flex:1;
    height: auto;
    text-align: left;
}

/* set width-300px and margin space of img in .index clase */
.index img{
    width: 300px;
    margin-left: 25px;
    margin-bottom: 50px;
}

/* set inline-height of h2 in Index page as same as the font size */
.index h2{
    line-height: 1;
}

/* set the margin space beween each paragraph as 12px  */
.index p{
    margin-bottom: 12px;
}

/* set the width and margin space betwwen the .fake-button & horizontally center the text in .fake-button */
.fake-button {
    width: 250px;
    margin-left: 150px;
    text-align: center;
}

/************* bookings page *************/

/* TO-DO:
    - the contents of the booking-page will be 600px wide, and all content centered within the available space.
    - text will have a size of 18px.
    - there will be 12px of space below the day-selectors, and 20px of space between each list item. List items are 60px wide.
    - List items & the small-button elements will have a solid black border that is 1px wide. Small-buttons will also have 5px of space between the border and the content.
    - items tagged with .top-margin will have 24 px of space above, and 12px of space below.
    - the "clear days" button will be 200px wide.
    - any element tagged with the .clicked class will turn mustard yellow. **This will be very important for your JavaScript.**
    - all items within the page will be centered within their available space.

*/

/* set all contents in booking-page with 600px wide & center all content in the middle & set the font size-18px of all text*/
.booking-page {
    width: 600px;
    text-align: center;
    font-size: 18px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* set margin space between each .day-selector & set width- 60px of each .day-selector */
.day-selector li{
    margin-left: 20px;
    margin-bottom: 12px;
    width: 60px;
}

/* set solid border with 1px and balack color for all list items and .small-button */
.day-selector li, .small-button {
    border: solid 1px black;
}

/* set margin space around .small-button */
.small-button {
    padding:5px;
}

/* set margin space around .top-margin element */
.top-margin{
    margin-bottom:12px ;
    margin-top: 24px;
}

/* set width-200px for #clear-button */
#clear-button {
    width: 200px;
    margin: auto;
}

/* set background-color of all .clicked elements with mustard yellow */
.clicked {
    background-color: #E5AF42; /*using to interacte when use click the button in "booking page"*/
}

/************* contact page *************/
/* TO DO:
    - the main section of the .contact page will be 420px tall, and centered.
    - the contents will be 2 columns: the labels column is 150px wide and right-aligned, and the input column is 300px wide. There will be 24px of space between the columns, and the pair of columns will be centered on the page.
    - the textarea element will be 150px tall.
    - all form input, textarea, and and button elements will have the same font as the rest of the page, a line-height of 24px, a font-size of 16px, and the same border as other buttons on the site. There will be 24px of space below each of these elements.
    - the edges of the button will line up exactly with the text-area element. HINT: time for some math!
*/

/* set the height of .contact page & center the main section of it & set the 2 column layout for it*/
.contact {
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* set width-150px of lable-colum & set margin space betwwen the lable column &right align the lable-column */
.contact label{
    width: 150px;
    text-align: right;
    margin-right:24px;
}

/* set width-300px for input area */
.contact input{
    width:300px;
}

/* set height-150px  for input area & set the width 300px as same as the other button*/
textarea{
    height: 150px;
    width: 300px;
}

/* set line-height 24px and margin space for all elements in the form & set the same font, size and border style as the rest of the pages */
form input, form textarea, form button{
    line-height: 24px;
    border: black 1px solid;
    font-size: 16px;
    margin-bottom: 24px;
    font: inherit;
}

/* set the same width of submit-button as other button in the pages & align the submit-button to other input and textarea */
#submit-button{
    margin-left: 174px;
    width: 306px;
}




